.cards {
	display: flex;
	gap: 36px;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	@media (max-width:$bp992) {
		gap: 20px;
	}
	&__item {
		padding: 40px;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
		max-width: 30%;
		text-align: left;
		background-color: #fff;
		border-radius: 8px;
		position: relative;
		@media (max-width:$bp992) {
			max-width: 45%;
		}
		@media (max-width:680px) {
			max-width: 95%;
			padding: 25px;
		}
	}
	&__icon {
		position: absolute;
		top: 33px;
		@media (max-width: 680px) {
			top: 17px;
		}
	}
	&__item-title {
		margin-bottom: 32px;
		font-size: 28px;
		line-height: 1.1;
		@media (max-width: 350px) {
			font-size: 21px;
		}
		.page__career & {
			padding-left: 54px;
		}
	}
}