.info {
	background: $gradient;
	padding: 73px 0;
	@media (max-width: $bp768) {
		padding: 40px 0;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $bp768) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&__content {
		max-width: 416px;
	}
	&__title {
		margin-bottom: 16px;
	}
	&__text {
		line-height: 1.69;
	}
	&__img {
		max-width: 559px;
		& img {
			width: 100%;
		}
	}
}