.innovation {
	& .title {
		text-align: center;
	}
	&__text {
		text-align: center;
		
	}
	.swiper {
		padding: 64px 15px 20px;
	}
	& .swiper-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 45px;
		
	}
	.swiper-slide {
		height: 119px;
		background: #FFFFFF;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			display: block;
			max-width: 100%;
			@media (max-width: $bp992) {
				max-width: 95%;
			}
		}
	}
	.slider-arrows {
		position: relative;
		display: flex;
		gap: 8px;
		z-index: 100;
		
	}
	.slider-arrow {
		font-size: 24px;
		cursor: pointer;
		&--prev {
			transform: rotate(180deg);
		}
	}
}