.intro {
	padding: 129px 0 210px;
	background: $gradient;
	margin-bottom: 101px;
	@media (max-width: $bp1200) {
		width: 100%;
		padding: 129px 0 143px;
	}
	@media (max-width: $bp992) {
		padding: 200px 0 82px;
	}
	@media (max-width: 830px) {
		padding: 129px 0 78px;
	}
	@media (max-width: $bp768) {
		padding: 100px 0 50px;
		margin-bottom: 50px;
		.page__products & {
			padding: 100px 0 70px;
		}
	}
	&__body {
		display: flex;
		
	}
	&__content {
		width: 512px;
		@media (max-width: $bp1200) {
			width: 50%;
		}
		@media (max-width: $bp768) {
			width: 60%;
		}
		@media (max-width: 690px) {
			text-align: center;
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 32px;
		@media (max-width: $bp992) {
		margin-bottom: 18px;
		}
		@media (max-width: $bp768) {
			margin-bottom: 12px;
			}
	}
	&__text {
		font-size: 22px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: $bp992) {
			font-size: 18px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: $bp768) {
			font-size: 16px;
			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}
			
	}
	&__buttons {
		.page__products &,
		.page__about & {
			display: none;
		}
	}
	&__btn {
		&:not(:last-child) {
			margin-right: 16px;
		}
		@media (max-width: $bp768) {
			padding: 10px 15px;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
		@media (max-width: $bp320) {
			display: flex;
			&:not(:last-child) {
				margin-bottom: 10px;
				margin-right: 0px;
			}
		}
	}

	&__img {
		flex: 1 1 auto;
		position: relative;
		& img {
			display: block;
			position: absolute;
			left: 0px;
			top: -55px;
			@media (max-width: $bp1200) {
				width: 100%;
				top: -29px;
			}
			@media (max-width: $bp992) {
				top: -102px;
			}
			@media (max-width: 830px) {
				top: -23px;
			}
			@media (max-width: 690px) {
				display: none;
			}
		}
		.page__products & {
			& img {
			display: block;
			position: absolute;
			left: -25px;
			top: 1px;
			@media (max-width: $bp1200) {
				width: 100%;
				top: -29px;
			}
			@media (max-width: $bp992) {
				top: -102px;
			}
			@media (max-width: 830px) {
				top: 0px;
			}
				@media (max-width: $bp768) {
				top: -9px;
			}
			@media (max-width: 690px) {
				display: none;
			}
		}
		}
		.page__about & {
			& img {
			display: block;
			position: absolute;
			left: 0;
			top: -105px;
			@media (max-width: $bp1200) {
				width: 100%;
				top: -29px;
			}
			@media (max-width: $bp992) {
				top: -102px;
			}
			@media (max-width: 830px) {
				top: 0px;
			}
				@media (max-width: $bp768) {
				top: -9px;
			}
			@media (max-width: 690px) {
				display: none;
			}
		}
		}
	}
}