.jobs {
	&__item {
		padding: 35px 60px;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
		border-radius: 8px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@media (max-width: $bp992) {
			flex-direction: column;
			padding: 35px 20px;
		}
	}
	&__item-content {
		@media (max-width: $bp992) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item-title {
		font-size: 28px;
		line-height: 0.96;
		font-weight: 400;
		color: #484C63;

		margin-bottom: 24px;
		@media (max-width: $bp992) {
			margin-bottom: 10px;
		}
		@media (max-width: $bp480) {
			font-size: 23px;
			margin-bottom: 24px;
		}
	}
	&__info {
		display: flex;
		gap: 25px;
		align-items: center;
		@media (max-width: $bp992) {
			margin-bottom: 24px;
		}
		@media (max-width: $bp480) {
			flex-direction: column;
			gap: 1px;
		}
	}
	&__info-item {
		display: flex;
		gap: 5px;
	}
}