.join {
	margin-top: 30px;
	padding: 110px 0;
	background:linear-gradient(to top, #E3E7F6,  transparent);
	@media (max-width: $bp768) {
		padding: 40px 0;
	}
	.page__about & {
		padding: 150px 0 157px;
	}
	
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $bp768) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&__content {
		max-width: 363px;
	}
	&__text {
		line-height: 1.69;
		margin-bottom: 16px;
		.page__about & {
			margin-bottom: 40px;
		}
	}
	&__btn {
		margin-bottom: 16px;
		.page__about & {
			margin-bottom: 14px;
		}
	}
	&__img {
		max-width: 523px;
		& img {
			width: 100%;
		}
	}
	& .bethenext {
		padding-left: 80px;
	}
}

