@import "fonts.scss";
@import "icons.scss"; // если иконки через шрифты

// ------Vars------ 
$fontFamily: "Europa";
$fontSize: 16px;
$mainTextColor: #fff;
$textColor: #5BD2BF;
$accentColor: #4C99BB;

$bg: #02061A;
$bgContent: #24293F;
$gradient: linear-gradient(to right bottom, #1F143B, #3C8273);


$maxWidth: 1440px;
$maxWidthContainer: 1080px;

$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 319.98px;

$burgerBP: $bp992;
//------Vars-End------ 

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	// font-family: 'Comfortaa', cursive;
	font-family: $fontFamily, sans-serif;
	font-size: $fontSize;
	font-weight: 400;
	line-height: 1.5;
	color: $mainTextColor;
	background-color: $bg;

}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	object-fit: cover;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
}

.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}
// -----Общие блоки-----
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 14px 32px;
	text-align: center;
	transition: all 0.3s ease;
	min-height: 20px;
	font-weight: 700;
	color: #fff;
	background-color: $accentColor;
	border-radius: 6px;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			background-color: #d30834
		}
	}
	@media (max-width: $bp992) {
		padding: 12px 26px;
	}
}
@import "header.scss";

// -----Общие блоки-End -----
