.webtoffee {
	margin-bottom: 149px;
	@media (max-width: $bp992) {
		margin-bottom: 50px;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $bp992) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		}

	}
	&__content {
		max-width: 470px;
		@media (max-width: $bp992) {
			max-width: 100%;
			text-align: center;
		}
	}
	&__logo {
		display: inline-block;
		margin-bottom: 32px;
	}
	&__text {
		margin-bottom: 40px;
	}
	&__btn {
		@media (max-width: $bp992) {
			margin-bottom: 30px;
			}
	}

	&__img {
		display: block;
		width: 564px;
		@media (max-width: $bp992) {
			max-width: 100%;
			}
		
	}
}